In [9]:
import pandas as pd
import numpy as np

In [6]:
s = pd.Series([1, 2, np.nan])

In [13]:
a

0    1.0
1    2.0
2    NaN
dtype: float64

In [15]:
a.sum()

3.0

In [16]:
df = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df

   A  B
0  1  3
1  2  4

In [17]:
df.dtypes

A    int64
B    int64
dtype: object

In [20]:
df = pd.DataFrame(np.random.randn(6, 4))
df

          0         1         2         3
0  0.369680  1.775412  1.556900 -1.060322
1 -0.715586  0.438057 -0.188537  0.865941
2 -0.090896  0.883023  0.238288  1.149943
3  0.264335  0.106071 -1.090071  1.405750
4  0.861623  0.632618  0.709206 -0.597435
5  0.574338 -1.574385  0.309968  0.368381